# <font color='blue'>Data Science Academy</font>
# <font color='blue'>Big Data Real-Time Analytics com Python e Spark</font>

# <font color='blue'>Capítulo 4</font>

# <br>Lista de Exercícios

* Resolva as questões a seguir e consulte a documentação Python se necessário!
* O dataset contém registros de corridas de táxi.<br><br>

In [1]:
# Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

### <br><br>Carregando Dataset

In [2]:
# O dataset contendo registros de corridas de táxi
df = pd.read_csv('dados/dataframe.csv')

In [3]:
# Visualizando
df

          Data  Distancia    Tempo  Segundos     Minutos  Min_Por_Km
0   2015-08-02       1.70      NaN       NaN         NaN         NaN
1   2015-08-03       1.40      NaN       NaN         NaN         NaN
2   2015-08-04       2.10      NaN       NaN         NaN         NaN
3   2015-08-06       2.38      NaN       NaN         NaN         NaN
4   2015-08-07       2.30      NaN       NaN         NaN         NaN
..         ...        ...      ...       ...         ...         ...
76  2015-12-24       3.05  0:25:08    1508.0   25.133333    8.240437
77  2015-12-25      14.80  2:20:00    8400.0  140.000000    9.459459
78  2015-12-26       5.20      NaN       NaN         NaN         NaN
79  2015-12-30       3.15  0:22:10    1330.0   22.166667    7.037037
80  2016-01-01      26.20  4:20:43   15643.0  260.716667    9.951018

[81 rows x 6 columns]

In [6]:
# Coluna Data carregado como object
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Data        81 non-null     object
 1   Distancia   81 non-null     float64
 2   Tempo       52 non-null     object
 3   Segundos    52 non-null     float64
 4   Minutos     52 non-null     float64
 5   Min_Por_Km  52 non-null     float64
dtypes: float64(4), object(2)
memory usage: 3.9+ KB

In [10]:
# O dataset contém registros de corridas de táxi
df = pd.read_csv('dados/dataframe.csv', parse_dates = ['Data'])
df

         Data  Distancia    Tempo  Segundos     Minutos  Min_Por_Km
0  2015-08-02       1.70      NaN       NaN         NaN         NaN
1  2015-08-03       1.40      NaN       NaN         NaN         NaN
2  2015-08-04       2.10      NaN       NaN         NaN         NaN
3  2015-08-06       2.38      NaN       NaN         NaN         NaN
4  2015-08-07       2.30      NaN       NaN         NaN         NaN
..        ...        ...      ...       ...         ...         ...
76 2015-12-24       3.05  0:25:08    1508.0   25.133333    8.240437
77 2015-12-25      14.80  2:20:00    8400.0  140.000000    9.459459
78 2015-12-26       5.20      NaN       NaN         NaN         NaN
79 2015-12-30       3.15  0:22:10    1330.0   22.166667    7.037037
80 2016-01-01      26.20  4:20:43   15643.0  260.716667    9.951018

[81 rows x 6 columns]

In [9]:
# Ao adicionar o parâmetro parse_dates a coluna Data é convertida para tipo Date
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Data        81 non-null     datetime64[ns]
 1   Distancia   81 non-null     float64
 2   Tempo       52 non-null     object
 3   Segundos    52 non-null     float64
 4   Minutos     52 non-null     float64
 5   Min_Por_Km  52 non-null     float64
dtypes: datetime64[ns](1), float64(4), object(1)
memory usage: 3.9+ KB

# <br><u>Perguntas</u><br>

### 1 - Qual o valor máximo da coluna Minutos?

### 2 - Qual o valor mínimo de distância acima de 2.0?

### 3 - Crie um plot com a frequência acumulada da coluna Distancia.

### 4 - Qual o dia da semana no índice de posição zero?

### 5 - Qual o dia da semana nos índices nas 5 primeiras posições?

### 6 - Extraia todos os dias da semana (em formato texto) e insira em uma nova coluna no dataframe df.

### 7 - Crie um gráfico de barras com o total da distância percorrida em cada dia da semana.

### 8 - Delete a coluna Tempo do dataframe df.

### 9 - Qual o total de corridas de taxi por dia da semana?

### 10 - Qual a média para cada uma das colunas por dia da semana?